<html>
<head>
   <title>Number Plate Recognition</title>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="{{ url_for('static', filename='number_plate_image.css') }}">
   <style>
      .numberplate {
         justify-content: center;
         align-items: center;
         display: flex;
      }
   </style>
  
</head>
<body>
   <header>
      <h1>Number Plate Recognition</h1>
   </header>
   <br>
   <div class="numberplate">
      <img src="NPRVideo" alt="NO CAM DETECTED">
   </div>
   <br>
   
</body>
</html>


